.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contentDiv {
  /* background-color: brown; */
  width: 100%;
  height: 100px;
}

.content {
  /* background-color: rgb(2, 255, 78); */
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.heading {
  font-size: 140%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: 500;
}
.value {
  font-size: 100%;
}

.btnDiv {
  width: 120px;
  height: 30px;
  /* background-color: rgb(228, 7, 7); */
  border: 1px solid black;
  margin: 0 auto;
  font-size: 90%;
  padding: 8px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.btnDiv:hover {
  background-color: rgb(158, 4, 4);
}

.btnDivBig {
  width: 160px;
  height: 50px;
  background-color: rgb(98, 131, 240);
  border: 1px solid black;
  margin: 0 auto;
  font-size: 100%;
  padding: 14px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.btnDivBig:hover {
  background-color: rgb(27, 66, 196);
}
.btnDivBigDisable {
  width: 160px;
  height: 50px;
  background-color: rgb(198, 206, 230);
  border: 1px solid black;
  margin: 0 auto;
  font-size: 100%;
  padding: 14px;
  color: white;
  font-weight: 700;
  cursor: not-allowed;
}

.TextBoxDiv {
  background-color: rgb(2, 255, 78);
  width: 80%;
  margin: 1% auto;
  text-align: center;
  border: 1px solid black;
}

.SubmitBtnDiv {
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: rgb(230, 108, 9);
  border: 1px solid black;
  margin: 0 auto;
  font-size: 100%;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.SubmitBtnDivDisable {
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: rgb(233, 173, 124);
  border: 1px solid black;
  margin: 0 auto;
  font-size: 100%;
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: not-allowed;
}
.SubmitBtnDiv:hover {
  background-color: rgb(153, 71, 4);
}
.commentSection {
  margin-top: 5%;
}

.headingHistory {
  font-size: 150%;
  padding: 5% 5% 3% 5%;
  font-weight: 500;
}

.flexConatiner {
  display: flex;
  /* background-color: brown; */
  width: 100%;
  margin: 1% 5% 0 5%;
  padding: 2% 5% 0 5%;
  flex-direction: row;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.headingRow {
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.headingValue {
  text-align: center;
  width: 100%;
  font-size: 90%;
}

.flexConatiner:hover {
  background-color: rgb(235, 232, 230);
}

.fileName {
  text-align: center;
  width: 100%;
  font-size: 100%;
  font-style: italic;
  color: black;
  padding: 1%;
}
