.main img,
.mainFull img {
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  margin: 2px;
  z-index: 1200;
}

.main,
.mainFull {
  position: absolute;
  right: 1%;
  bottom: 1%;
  letter-spacing: 1px;
  z-index: 1200;
  /* display: flex;
  flex-direction: row; */
}

.mainFull div {
  margin-left: 5px;
  animation: mDisplay 0.5s;
  display: flex;
  flex-direction: row;
}

@keyframes mDisplay {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.main span {
  position: absolute;
  bottom: 0.5rem;
  left: 10px;

  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-size: small;
  height: auto;
}

.Hybrid,
.Dark {
  color: #fff;
}

.Streets,
.Light {
  color: #000;
}
