.main {
  width: 99%;
  height: 80vh;
  /* background-color: #131313; */
}

.map {
  /* position: fixed; */

  width: -webkit-fill-available;
  height: 100%;
  /* height: 95vh; */

  /* margin-left: 1%; */
  /* margin-right: 1%; */

  /* padding-left: 100vw; */
}
