.btn {
  text-align: center;
  width: 60px;
  height: 30px;
  background-color: rgb(156, 154, 152);
  border: 1px solid black;
  margin-left: 1%;
  font-size: 100%;
  padding: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(112, 112, 112);
}
