.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.headingHistory {
  font-size: 150%;
  padding: 5% 5% 3% 5%;
  font-weight: 500;
}

.flexConatiner {
  display: flex;
  /* background-color: brown; */
  width: 100%;
  margin: 1% 5% 0 5%;
  padding: 2% 5% 0 5%;
  flex-direction: row;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.headingRow {
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.headingValue {
  text-align: center;
  width: 100%;
  font-size: 90%;
  margin-bottom: 5px;
}
.headingValueHighLighted {
  text-align: center;
  width: 100%;
  font-size: 90%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
}

.flexConatiner:hover {
  background-color: rgb(235, 232, 230);
}
